/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "IBM Plex Sans", sans-serif;
    background: url(/images/bg_img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header{
    max-width: 80%;
    margin: 30px auto;
}

header .banners{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
header .banners .img-logo,
header .banners .img-logo > img,
header .banners .img-banner > img{
    max-width: 100%;
}


header .banners .img-banner > img{
    max-width: 30%;
}
.banners .img-banner > img{
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -1;
}

header .header-content > h1{
    font-size: 5.5rem;
    max-width: 55rem;
    margin-bottom: 20px;
}
header .header-content > p{
    font-size: 1rem;
    max-width: 55rem;
}
/* header screen for desktop */
@media (max-width: 768px){
    body{
        background: url(/images/tabletBg_img.png);
        background-repeat: no-repeat;
        background-size: 140%;
    }
}
/* header screen for mobile */
@media (max-width: 680px) {
    body{
        background: url(/images/mobileBg_img.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }
    
    header .banners .img-banner{
        display: none;
    }

    header .header-content > h1{
        font-size: 3rem;
    }
}



main .main-content{
    background: url(/images/mainBg_img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #191826;
    height: 600px;
    max-width: 80%;
    margin: 16rem auto;
    border-radius: 10px;
    color: #FCFAF9;
    position: relative;
}
.sections > img{
    width: 50%;
}

.section-img{
    max-width: 100%;
    position: absolute;
    top: -12rem;
    left: 0;
}
.section-contents{
    background-color: #FA7453;
    border-radius: 10px;
    padding: 3rem;
    max-width: 50%;
    position: absolute;
    bottom: -12rem;
    right: 1rem;
}
.section-contents h2,
.section-contents p {
    margin-bottom: 2.2rem;
}
@media (max-width: 768px) {
    /* header */
    header{
        max-width: 95%;
    }
    header .header-content > h1{
        font-size: 5rem;
    }
    .section-contents{
        max-width: 60%;
        right: 2rem;
    }
    .section-img{
        left: 1rem;
    }
    .sections > img{
        width: 60%;
    }
    main .main-content{
        max-width: 90%;
    }
}
@media (max-width: 600px) {
    /* header */
    header .header-content > h1{
        font-size: 3rem;
    }
    .section-contents{
        max-width: 100%;
        right: 0;
        border-radius: 0;

        /* position: static; */
    }
    .section-img{
        left: 5rem;
        /* position: static;/ */
    }
    .sections > img{
        width: 70%;
    }

    main .main-content{
        max-width: 100%;
    }
}
.section-contents  p:nth-child(2) {
    color: #FCFAF9;
    line-height: 1.5rem;
}

.section-contents p:nth-child(3){
    font-size: 2.5rem;
    font-weight: 700;
    display: flex;
    column-gap: 1rem;
}
.section-contents p > span{
    color: #FCFAF9;
    font-size: 1rem;
    font-weight: 100;
    display: block;
    align-self: center;
}

.section-contents button {
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 10px;
    margin: 10px 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}
.section-contents button img {
    display: block;
}
.section-contents button:nth-child(even){
    background-color: #191826;
    color: #FCFAF9;
}
.section-contents button:nth-child(even):hover{
    background-color: #FFB964;
}
.section-contents button:nth-child(odd){
    background-color: #FCFAF9;
    color: #191826;
}
.section-contents button:nth-child(odd):hover{
    background-color: #66E2DC;
}


footer{
    max-width: 80%;
    margin: 20rem auto 5rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.footer3{
    justify-self: end;
}
.footer3 ul{
    list-style-type: none;
}
.footer3 ul li {
    display: inline;
    margin: 0.5em;
}

.footer3 a  path:hover {
    fill: #FA7453;
}

@media (max-width: 768px) {
    footer{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        margin: 3rem;
    }
    .footer2{
        grid-column: 1/2;
    }
}

@media (max-width: 500px) {
    footer{
        max-width: 100%;
        margin: 2rem;
        grid-template-columns: repeat(1, 1fr);
    }
    .footer3{
        justify-self: start;
    }
}